@use "../../styles/colors";

.wrapper {
  padding: 20px;
  background-color: colors.$background_paper;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.searchField {
    background-color: colors.$background_default;
    border-radius: 30px;
    width: 580px;
  }
  
  .searchIcon {
    color: colors.$text_primary;
  }
  
  .divButtons {
    float: right;
    padding-right: 20px;
  }
  .textButton {
    color: colors.$text_primary !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
  }